{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %} حذف کتاب {% endblock %}

{% block content %}

    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Are you Sure to delete "{{ book.title }}" ?</h1>
            <a href="{% url 'book_detail' book.id %}"
               class="btn btn-sm btn-success"> NO </a>
            <input class="btn btn-sm btn-warning" type="submit" value="YES, delete">
        </form>
    </div>

{% endblock %}